@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(../CSS/main.css);
@import url(../CSS/footer.css);

* {
  box-sizing: border-box;
}

html,
body {

  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.fa-bars {
  display: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/background-one.png);
  background-repeat: no-repeat;
  background-size: cover;
}



.hero>.animation-divace-stars {
  position: absolute;
  top: -78px;
  right: 9px;
  animation: stars-point 4s infinite linear;
  transition: 3ms;
}

@keyframes stars-point {
  0% {

    top: -75px;
    right: 10px;

  }

  50% {
    top: -95px;
    right: 25px;
  }

  100% {
    top: -75px;
    right: 10px;
  }
}

.hero>.animation-divace>img {
  width: 550px;
}

.hero>.animation-divace {
  position: absolute;
  top: 80px;
  right: 0px;
  animation: glowing-stars 8s infinite linear;
  transition: 0.7s;
  -webkit-animation: glowing-stars 8s infinite linear;
}

@keyframes glowing-stars {
  0% {

    opacity: 0;

  }

  20% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}



.hero>header {
  display: flex;
  align-items: center;
}

header {
  padding-top: 49px;
}

header>h3>a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 91px;
  height: 16px;
  padding-left: 152px;
}

header>nav>ul {
  display: flex;
  gap: 32px;
  height: 16px;
  padding-left: 408px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

header>nav>ul>li:hover {
  border-bottom: 1px solid #ffffff;
}

.hero>.sec-logo-headline {
  margin-top: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero>.sec-logo-headline>img {
  transition: 0.7s;
  z-index: 1;

}

.hero>.sec-logo-headline>img:hover {
  transform: rotateY(175deg) scale(1.3);
  -webkit-transform: rotateY(175deg) scale(1.3);
  -moz-transform: rotateY(175deg) scale(1.3);
  -ms-transform: rotateY(175deg) scale(1.3);
  -o-transform: rotateY(175deg) scale(1.3);

}



.hero>.sec-logo-headline>h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.hero>.sec-logo-headline>p {
  font-family: "Source Sans Pro";
  font-style: normal;
  width: 416px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}


@media screen and (max-width: 768px) {

  html,
  body {
    width: 100%;
    padding: unset;
    margin: unset;
    font-family: "Oswald", sans-serif;
  }

  .hero {
    background-position: center;
    background-position-x: right;
    width: 100%;

  }

  .hero>.animation-divace>img {
    width: 480px;
  }

  .hero>.animation-divace {
    position: absolute;
    top: 68px;
    right: -5px;

  }

  header>nav>ul {
    display: none;
  }

  .fa-bars {
    display: block;
    color: #ffffff;
    font-size: 25px;
  }

  header>h3>a {
    padding-left: unset;
  }

  header {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }



  main>.sec-two {
    width: auto;
    height: auto;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 87px;
    padding: 50px;
  }

  .hero>.sec-logo-headline>p {
    width: 387px;
  }

  main>.sec-two>button {
    margin-top: unset;
  }

  main>.sec-two>article {

    display: grid;
    justify-content: center;
    padding: 50px;
    gap: 40px;
    grid-template-areas: ' left'
      'right ';
    grid-template-columns: repeat(auto-fit, 416px);

  }

  .item1,
  .item2 {
    width: 80% !important;
    margin: auto;
  }

  footer>.sec-last {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 19px;
    text-align: center;
    padding-left: unset !important;
  }



  .hero>.animation-divace-stars {
    width: 1200px;
    position: absolute;
    animation: stars-point 4s infinite linear;
    transition: 3ms;
  }

  @keyframes stars-point {
    0% {

      top: -98px;
      right: 168px;

    }

    50% {
      top: -105px;
      right: 185px;
    }

    100% {
      top: -98px;
      right: 168px;
    }
  }
}